{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Welcome aboard, almost done!</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <tbody>
              <tr>
                <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
              </tr>
              <tr>
                <td class="text-center" style="width: 100%;">
                  {{ msg }}
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td class="text-center">
                  
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td class="text-center">
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
